.headerStyled {
  min-height: 70vh;
}

.nav {
  padding: 0 4rem;
  min-height: 10vh;
  border-bottom: 1px solid var(--color-border);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.navItems {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navItems li {
  transition: all 0.2s ease-in-out;
}

.navItems li:hover {
  color: white;
  transform: scale(1.1);
}

.inputContainer {
  flex: 2;
  display: flex;
  justify-content: center;
}

.inputContainer input {
  width: 55%;
  padding: 0.4rem 0.8rem;
  border-radius: 8px;
  background-color: #161616;
  border: 1px solid var(--color-border);
  outline: none;
  z-index: 11;
}

.inputContainer input::placeholder {
  color: var(--color-border);
  font-weight: 500;
}

.headerContent {
  padding: 0rem 10rem 5rem 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  min-height: calc(100vh -10vh);
}

.textContent h1 {
  font-size: clamp(2rem, 5vw, 5rem);
  color: #f2994a;
  transition: all 0.01s linear;
  padding-bottom: 1.5rem;
}

.buttons {
  display: flex;
  gap: 1rem;
  margin-top: 2.5rem;
}

.image {
  padding: 1rem;
  border-radius: 8px;
  background-color: var(--color-bg);
  border: 1px solid var(--color-border);
}

.image img {
  border-radius: 8px;
}
