.button {
  padding: 0.4rem 2rem;
  border-radius: 30px;
  border: 2px solid var(--color-border);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.button:hover {
  background-color: var(--color-border);
  color: white;
}
